@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.button {
  font-size: 40px;
  margin: 1em;
  padding: 30px 90px;
  border-radius: 33px;
  background: #f7f7f7;
  box-shadow: -2px 2px 4px #cac9c2, 2px -2px 4px #ffffff;
  border: none;
  text-transform: uppercase;
}

.buttonClick {
  box-shadow: inset -2px 2px 4px #cac9c2, inset 2px -2px 4px #ffffff;
}
