@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body {
    background: url(../../images/backgrounds/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}

/*BUTTONS*/
.buttons1 {
    width: 90%;
}

.button1 button {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px 10px 20px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 33px;
    background: #f7f7f7;
    box-shadow: -2px 2px 4px #cac9c2, 2px -2px 4px #ffffff;
    border: none;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/*BUTTONS*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEECE4;
    cursor: pointer;
}

#line10 {
    text-decoration-color: #DD9F2E;
}

/*Overlay text*/

#tour-selector {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 25pt;
    margin-top: 20%;
}

.button-select {
    background: #f5f5f5;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    border-radius: 33px;
    box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff;
    border: none;
    font-family: 'Oxygen', sans-serif;
}

#start-tour-btn {
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen', sans-serif;
    border-radius: 43px;
    background: #f7f7f7;
    box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff;
    margin: 0px 10px 30px 10px;
    padding: 30px;
    border: none;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}

#start-tour-btn p {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    text-align: left;

}

.item4 span {
    border-bottom: 5px solid;
    border-radius: 25px;
    padding-right: 170px;
    border-image: linear-gradient(to right, #bd5120 40%, #bad030 40%, #bad030 100%) 5;
}

#line20 {
    text-decoration-color: #b8391c;
}

#line30 {
    text-decoration-color: #BAD030;
}

#line40 {
    text-decoration-color: #71304E;
}

/*CAROUSEL*/
#carousel-container {
    height: 200px;
    width: 600px;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    --slide-count: 5;
}

#carousel {
    width: calc(100% * var(--slide-count));
    display: flex;
}

.slide>img {
    margin: 0px 0px 0px 2px;
    border-radius: 45px;
    width: 65%;
    height: 70%;
    object-fit: cover;
}

.slide {
    scroll-snap-align: start;
}

.a1 {
    animation: blinking 2s infinite;
    font-size: 15px;
    text-align: center;
    margin: 0px;
    margin: 0px 0px 40px 0px;
}

/*CAROUSEL*/

@keyframes blinking {
    0% {
        color: black;
    }

    62% {
        color: transparent;
    }

    97% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

/*HEADER*/
.title h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    margin: 30px 0px 10px 0px;
}

.title p {
    text-align: center;
    margin: 0px;
    margin: 0px 0px 40px 0px;
}

/*HEADER*/
/*SEARCH BAR*/
.wrapper1 {
    border-radius: 43px;
    display: flex;
    justify-content: center;
    background-color: #EEECE4;
}

.label {
    font-size: .625rem;
    text-transform: uppercase;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 43px;
    box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff;
}

#searchQueryInput {
    width: 10em;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 43px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

/*SEARCH BAR*/