@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    max-width: 428px;
    margin: auto;
    background-color: #EEECE4;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    background: url(https://raw.githubusercontent.com/EHB-MCT/full-projects-3-team-blanco/main/images/backgrounds/background3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.wrapper {
    width: 100%;
}

.wrapper h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    margin: 50px 0px 0px 0px;
}

.wrapper h3 {
    margin: 0px 100px 0px 100px;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    border-bottom: 4px solid;
    border-radius: 25px;
    border-image: linear-gradient(to right, #bd5120 40%, #bad030 40%, #bad030 100%) 5;
}

.wrapper img {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 55px;
}

.directions {
    margin: 200px 0px 0px 0px;
}

.column,
.column2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column .column2 svg,
p {
    padding: 10px;
}

.column2 svg {
    fill: gray;
}

/* This styles the aside container
.aSide {
    /* height: 100px; 
    width: 500px;
    position: absolute;
     top: calc(50% - 250px); 
    right: -135px;
    top: -70px;
}/*

/* This styles the 3D object inserted in the aside container 
.aSide model-viewer {
    height: 850px;
    width: 0px;
    position: relative;
    /* top: 0;
    left: 0; 
    border: none;
} */

/* This styles the aside container */
.aSide {
    position: absolute;
    width: 150%;
    top: 10%;
    left: 5%;
}

/* This styles the 3D object inserted in the aside container */
.aSide model-viewer {
    height: 400px;
    width: 400px;
    position: absolute;
    border: none;
}