@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    max-width: 428px;
    margin: auto;
    background-color: #EEECE4;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    background: url(https://raw.githubusercontent.com/EHB-MCT/full-projects-3-team-blanco/main/images/backgrounds/background3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.wrapper {
    width: 100%;
}

.wrapper h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    margin: 50px 0px 0px 0px;
}

.wrapper h3 {
    margin: 0px 100px 0px 100px;
    font-size: 18px;
    text-align: center;
}

.wrapper img {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 55px;
}

/* This styles the aside container */
.aSide {
    position: absolute;
    width: 150%;
    top: 10%;
    left: 5%;
}

/* This styles the 3D object inserted in the aside container */
.aSide model-viewer {
    height: 400px;
    width: 400px;
    position: absolute;
    border: none;
}

/* Tweak to change the look and feel */
:root {
    --dropdown-width: 200px;
    text-align: center;
    --dropdown-background: #f7f7f7;
}

.dropdown {
    margin-top: 75%;
    
}

#button_dropdown {
    font-family: 'Secular One', sans-serif;
    padding: 10px 50px;
    border-radius: 33px;
    background: #f7f7f7;
    box-shadow: -2px 2px 4px #cac9c2, 2px -2px 4px #ffffff;
    border: none;
}

/*hides arrow and decoration*/
.dropdown summary {
    list-style: none;
    list-style-type: none;
    
}

.dropdown ul {
    font-family: 'Oxygen', sans-serif;
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--dropdown-background);
    border-radius: 45px;
    list-style: none;
    font-family: 'Secular One', sans-serif;
    border-radius: 45px;
    border: none;
    background: #f7f7f7;
    box-shadow: -2px 2px 4px #cac9c2, 2px -2px 4px #ffffff;
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
    

}

/* Dropdown triangle */
.dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
    
}

#overlay10,
#overlay11,
#overlay12,
#overlay13,
#overlay14,
#overlay15 {
    position: fixed;
    display: none;
    width: 90%;
    height: 40%;
    top: 18%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

#text {
    font-family: 'Secular One', sans-serif;
    position: absolute;
    top: 25%;
    left: 56%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*CAROUSEL*/