@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    margin: auto;
    background-color: #EEECE4;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
}

.wrapper {
    width: 100%;
    max-width: 31.25rem;
}

.title h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    margin: 30px 0px 10px 0px;
}

.title p {
    text-align: center;
    margin: 0px;
    margin: 0px 0px 40px 0px;
}

/*CHECKBOXES START*/
.box {
    display: flex;
    flex-direction: column;
    border-radius: 43px;
    background: #f7f7f7;
    box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff;
    margin: 40px 40px 0px 40px;
    padding: 30px;

}

.info {
    text-decoration: underline;
    text-decoration-color: #DD9F2E;
    text-decoration-thickness: 3px;
}

.info2 {
    text-decoration: underline;
    text-decoration-color: #b8391c;
    text-decoration-thickness: 3px;
}

.info3 {
    text-decoration: underline;
    text-decoration-color: #BAD030;
    text-decoration-thickness: 3px;
}

.info4 {
    text-decoration: underline;
    text-decoration-color: #71304E;
    text-decoration-thickness: 3px;
}

.checkBox {
    margin-top: 20px;
}

.box img {
    width: 15px;
    margin-left: 8px;
}

/*CHECKBOXES END*/


/*SEARCH BAR START*/
.wrapper1 {
    display: flex;
    justify-content: center;
    background-color: #EEECE4;
}

.label {
    font-size: .625rem;
    text-transform: uppercase;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 43px;
    margin-left: -1.8rem;
    /* box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff; */
}

#searchQueryInput {
    width: 190px;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 43px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

/*SEARCH BAR END*/

.button1 {
    background: #f5f5f5;
    margin: 10px 20px 20px 50px;
    padding: 10px;
    width: 70%;
    font-size: 20px;
    border-radius: 33px;
    box-shadow: 27px -27px 67px #b7b7b7,
        -27px 27px 67px #ffffff;
    border: none;
    font-family: 'Oxygen', sans-serif;
}