body {
    margin: auto;
    background-color: #EEECE4;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
}

.wrapper {
    width: 100%;
}

/* This styles the 3D object inserted in the aside container */
.aSide model-viewer {
    background-color: red;
    border: none;
    align-content: center;
}